<ul class="post-list">
  {% for post in postlist | reverse %}
  
    <li class="post-list__item">
      <div>
        <div class="post-list__meta">
          <time datetime="{{ post.createdAt | htmlDateString }}">
            {{ post.createdAt | readableDate }}
          </time>
          <span> | </span>
          <span>{{ post | readingTime }} read</span>
        </div>

        <div class="post-list__tags">
          {% for tag in post.tags %}       
              <a href="/tags/{{ tag }}">#{{ tag }}</a>
          {% endfor %}
        </div>
      </div>
        <h3 class="post-list__title">
                <a  href="blog/{{ post.title | slug }}">{{ post.title }}</a>
      </h3>
      <div class="post-list__excerpt">
      
      {{ post.content.html | excerpt | safe }}
      
      </div>

      <a class="post-list__read-more" href="{{ post.path }}">Llegir</a>
    </li>
  {% endfor %}
</ul>