@import 'global.css';
@import 'variable.css';
@import 'typography.css';
@import 'post-list.css';
@import 'hero.css';
@import 'header.css';
@import 'footer.css';
@import 'post.css';
@import 'about.css';

.layout-wrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100%;
  width: 90%;
  max-width: 700px;
  margin: 0 auto; 
}

.main {
  display: flex;
  padding-bottom: 4rem;
  flex-direction: column;
  min-width: 0;
  margin-left: auto;
  margin-right: auto;
}
