---
layout: base.njk
---

<div class="about">
  <header class="hero">
  {# <div class="hero-content">
    <div class="intro">
      {{ content | safe }}
    </div>
  </div> #}
</header>
  <h1>Explicació de la falla</h1>
  {{ content | safe }}
</div>